draftcanvas viewport > * {
  margin: 24px;
}

draftcanvaspicture {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.06),
              0 0 1px 0 rgba(0, 0, 0, .2);
}
draftcanvasitem.GtkNative draftcanvaspicture {
  border: none;
  outline: 1px solid @borders;
}

draftcanvasitem > box > label {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  text-shadow: 1px 1px 3px shade(@accent_bg_color, 0.85);
  padding: 3px 12px;
  box-shadow: 0px 1px 3px @wm_shadow;
}

draftcanvasselection box.border {
  outline: 3px solid @accent_bg_color;
  border-radius: 3px;
  background-color: alpha(@accent_bg_color, 0.1);
}
draftcanvasselection draftcanvashandle {
  border-radius: 1000px;
  background-color: @accent_bg_color;
  box-shadow: 0 0 3px 1px @wm_shadow;
  min-width: 9px;
  min-height: 9px;
  outline: 1px solid @accent_fg_color;
}

draftalignmentgrid spinbutton {
  padding: 0px;
  margin: 0px;
  min-width: 10px;
  min-height: 10px;
}
draftalignmentgrid spinbutton text {
  padding: 0px;
  margin: 0px;
  min-width: 10px;
  min-height: 10px;
}
draftalignmentgrid spinbutton button {
  padding: 0px;
  margin: 0px;
  min-width: 8px;
  min-height: 8px;
}
draftalignmentgrid spinbutton button image {
  padding: 0px;
  margin: 0px;
  min-width: 8px;
  min-height: 8px;
}
draftalignmentgrid button.expander {
  min-height: 8px;
  min-width: 8px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background: none;
  background-color: @borders;
  padding: 0;
  outline-width: 0;
}
draftalignmentgrid button.expander:hover {
  background-color: shade(@borders, 0.9);
}
draftalignmentgrid button.expander:checked {
  background-color: shade(@accent_bg_color, 0.8);
}
draftalignmentgrid button.aligner {
  font-size: 24px;
  min-height: 8px;
  min-width: 8px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background: none;
  padding: 0;
  outline-width: 0;
}
draftalignmentgrid button.aligner:hover {
  color: shade(currentColor, 0.9);
}


/* Compact Adwaita */
.compact label {
  font-size: 0.833em;
}
.compact entry {
  font-size: 0.833em;
  min-height: 20px;
  padding: 0px 6px;
}
.compact button.text-button {
  padding: 3px 12px;
  min-width: 0px;
  min-height: 0px;
}
.compact button.text-button label {
  padding: 0px;
  margin: 0px;
}
.compact check {
 min-width: 10px;
 min-height: 10px;
 -gtk-icon-size: 9px;
}
.compact checkbutton {
 padding: 0px;
}
.compact list.boxed-list {
  border-radius: 11px;
}
.compact list.boxed-list > row > box {
  min-height: 36px;
  margin-left: 9px;
  margin-right: 9px;
}
.compact switch slider {
  min-height: 18px;
  min-width: 18px;
}
.compact dropdown button {
  padding: 2px 9px;
}
.compact preferencespage > scrolledwindow > viewport > clamp > box {
 margin: 6px 12px 18px 12px;
}
